{% extends 'base.html.twig' %}

{% block title %}Teams{% endblock %}

{% block body %}
    <h1>Teams</h1>

    <div>
        <a href="{{ path('app_team_new') }}" class="btn btn-success">Create a new Team</a>
    </div>

    <div class="row mt-4">
        {% for team in teams %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ team.name }}</h5>
                        <p class="card-text">{{ team.description }}</p>
                        <h6>Superheroes:</h6>
                        <ul>
                            {% for super_hero in team.superHeroes %}
                                <li>{{ super_hero.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <p>No teams found.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}