{% extends 'base.html.twig' %}

{% block title %}Créer une Mission Aléatoire{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/pages/mission/random.css') }}">
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="random-mission-title">Ou créez une mission aléatoire !</h1>
    <p class="random-mission-subtitle">Laissez le hasard décider de votre prochaine mission.</p>

    <form method="post" class="d-grid gap-2">
        <input type="hidden" name="_token" value="{{ csrf_token('random_mission') }}">
        <select name="difficulty" class="form-select mb-3">
            <option value="1">Très Facile</option>
            <option value="2">Facile</option>
            <option value="3">Moyenne</option>
            <option value="4">Difficile</option>
            <option value="5">Très Difficile</option>
        </select>
        <button type="submit" class="create-random-mission-btn">
            <i class="fas fa-random"></i>
            Créer une Mission Aléatoire
        </button>
    </form>
</div>
{% endblock %}
